services:
 postgres:
  image: postgres:15
  environment:
    POSTGRES_USER: mpesa
    POSTGRES_PASSWORD: mpesa
    POSTGRES_DB: mpesa
  ports:
  - '5432:5432'
  healthcheck:
    test: ["CMD-SHELL","pg_isready -U mpesa"]
    interval: 5s
    retries: 10

 redpanda:
  image: docker.redpanda.com/redpandadata/redpanda:latest
  command: >
      redpanda start
        --overprovisioned
        --smp 1
        --memory 1G
        --reserve-memory 0M
        --advertise-kafka-addr PLAINTEXT://redpanda:9092
  ports:
  - '9092:9092'
  environment:
  - REDPANDA_AUTO_CREATE_TOPICS="true"

 wallet-service:
  build: ./wallet-service
  depends_on:
    postgres:
      condition: service_healthy
    redpanda:
      condition: service_started
  ports:
  - '8080:8080'
  environment:
    SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/mpesa
    SPRING_DATASOURCE_USERNAME: mpesa
    SPRING_DATASOURCE_PASSWORD: mpesa
    KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
  restart: on-failure

 kyc-service:
  build: ./kyc-service
  ports:
    - '5000:5000'
  environment:
    FLASK_ENV: production